<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto" href="#">
      <img
        src="rotify.png"
        alt="Rotify Logo"
        width="50"
        class="d-inline-block align-middle"
      />
      <span class="ml-3">Rotify</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rotmaxxing">Rotmaxxing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile">My Profile</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <span class="badge bg-primary">
        Aura Points: <span id="auraPoints">{{ auraPoints }}</span>
      </span>
    </div>
  </div>
</nav>
